<form class="form-signin">
    <section class="p-3 mb-2 bg-secondary text-white">
        <h1>Bienvenido</h1>
        <img class="mb-4" src="static/images/LOGOS-02.png" alt="" width="120" height="120">
        <label for="inputEmail" class="sr-only">Correo electronico</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-success btn-block" type="submit">Ingresar</button>
    </section>
</form>