<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.advi_v2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Detalle_Asesoria_Cal"></activity>
        <activity android:name=".Detalle_Asesoria_Fin" />
        <activity
            android:name=".Detalle_Peticion_Aceptada"
            android:parentActivityName=".Lista_Peticiones" />
        <activity
            android:name=".Detalle_Valoracion"
            android:parentActivityName=".Lista_Valoraciones" />
        <activity
            android:name=".Detalle_Peticion"
            android:parentActivityName=".Lista_Peticiones" />
        <activity
            android:name=".Detalle_Asesoria"
            android:parentActivityName=".Lista_Asesorias" />
        <activity
            android:name=".Lista_Valoraciones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lista_Asesorias"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Lista_Peticiones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Solicitar_Asesoria"
            android:parentActivityName=".Lista_Asesores" />
        <activity
            android:name=".Detalle_Asesor"
            android:parentActivityName=".Lista_Asesores" />
        <activity
            android:name=".Lista_Asesores"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Acceso_Estandar"
            android:label="@string/title_activity_acceso__estandar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Acceso_Asesor"
            android:label="@string/title_activity_acceso__asesor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Registro"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>