<br>
<section class="jumbotron" style="background-color: #221D45;">
    <h1 class="text-center" class="display-4" style="color:white; font-size: 60px">¡Bienvenido!</h1>
    <section class="text-center">
        <img src="/static/images/ADVIHAWK2.png" height="220" width="220">
        <hr class="my-4">
    <a href="/index_asesor"><button type="button" class="btn btn-danger btn-lg" class="text-center"><img src="/static/images/lock.png" height="50" width="50">  Iniciar Sesión</button></a>
    </section>
</section>