$def with(datos)
<br>
<h1 class="text-center"><img src="/static/images/multiple-users-silhouette.png" height="50" width="50" margin-left="20px">  Asesorias</h1>
<br>
<section class="table-responsive-lg">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-success">
                <th scope="col"><img src="/static/images/id-card.png" width="15" height="15">  #</th>
                <th scope="col"><img src="/static/images/calendar.png" height="15" width="15">  Fecha</th>
                <th scope="col"><img src="/static/images/clock.png" width="15" height="15">  Hora</th>
                <th scope="col"><img src="/static/images/couple-of-arrows-changing-places.png" width="15" height="15">  Estado</th>
                <th scope="col"><img src="/static/images/content.png" width="15" height="15">  Tema</th>
            </tr>
        </thead>
        <tbody>
            $for row in datos:
                <tr>
                    <td><a href="/view_clients/$row.num_as">$row.num_as</a></td>
                    <td><a href="/view_clients/$row.num_as">$row.dia</a></td>
                    <td><a href="/view_clients/$row.num_as">$row.hora</a></td>
                    <td><a href="/view_clients/$row.num_as">$row.estado</a></td>
                    <td><a href="/view_clients/$row.num_as">$row.tema</a></td>
                </tr>
        </tbody>
    </table>
</section>
<br>
<a href="/index_asesoria"><button type="button" class="btn btn-success"><img src="/static/images/plus.png" height="40" width="40">  Agregar Asesoria</button></a>